<header>
  <div class="logo">
    <a routerLink="/home">
      <img src="assets/images/logo/sjd-logo.png" alt="SJD Logo">
      <div class="logo-text">
        <span class="company-name">SJD Developers</span>
      </div>
    </a>
  </div>

  <div class="nav-container">
    <button class="menu-toggle" [class.active]="isMenuOpen" (click)="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>

    <nav [class.active]="isMenuOpen">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active" (click)="closeMenu()">Projects</a></li>
        <li><a routerLink="/our-story" routerLinkActive="active" (click)="closeMenu()">Our Story</a></li>
        <li><a routerLink="/contact-us" routerLinkActive="active" (click)="closeMenu()">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header> 