<div class="site-map">
  <div class="content">
    <div class="back-button" (click)="goBack()"><b><</b>
    </div>
    
    <h2>Site map of {{ projectName }}</h2>
    
    <div class="search-container">
      <div class="search-box">
        <input 
          type="number" 
          [(ngModel)]="searchQuery"
          [min]="1"
          [max]="max_plots"
          placeholder="Enter Plot Number (1 - {{ max_plots }})"
          (input)="validatePlotNumber()"
          [class.error]="showError"
        >
        <button 
          [disabled]="!isValidInput"
          (click)="onSearch()">
          Search
        </button>
      </div>
      <div class="error-message" *ngIf="showError">
        {{ errorMessage }}
      </div>
    </div>

    <div class="sitemap-image-container" *ngIf="currentProject?.siteMapUrl">
      <img [src]="currentProject?.siteMapUrl" 
           [alt]="projectName + ' Site Map'"
           class="sitemap-image"
           (error)="handleImageError($event)">
    </div>
  </div>
</div>

<app-msg-box
  [show]="showMsgBox"
  [projectName]="projectName"
  [plotNumber]="searchQuery"
  (close)="closeMsgBox()"
></app-msg-box>
